@import url("../../index.css");

.holder{
    height: 8vh;
    background-color: var(--repledge-white);
    box-shadow: -1px 2px 18px #c1f1ff;
}

.logo{
    color: var(--repledge-darkGreen);
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

@media(min-width:40em){

    .holder{
        height: 10vh;
    }
    

}