@import url("../../index.css");


.YourDonation{
    height: 25vh;
    margin: 0.9rem;
    display: flex;
    /* border: 2px solid var(--repledge-lightRed); */
    border-radius: 1rem;
    background-color: var(--repledge-lightRedBackground);
}

.YourDonation>img{
    margin: 0.5rem;
    height: 90%;
    width: 50vw;
}

.YourDonation>p{
    color: white;
    font-size: 10vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.YourDonation:hover{
    cursor: pointer;
    transform: scale(1.01);

    /* background-color: var(--repledge-lightGreen); */
}

.donate_n_volunteer{
    margin-top: 1rem;
    /* display: flex;
    justify-content: space-around; */
}

.donate{
    height: 35vw;
    /* width: 48vw; */
    margin: 0.9rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid var(--repledge-lightGreen); */
    border-radius: 1rem;
    background-color: var(--repledge-lightGreenBackground);
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}

.donate>img{
    margin: 0.5rem;
    height: 65%;
    width: 100%;
}

.donate>p{
    color: var(--repledge-darkerGrey);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.donate:hover{
    cursor: pointer;    
    transform: scale(1.02);
    box-shadow: 0 0 9px 10px rgb(0 0 0 / 5%);
}


.volunteer{
    height: 35vw;
    padding: 1rem;
    /* width: 48vw; */
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}

.volunteer>img{
    margin: 0.5rem;
    height: 65%;
    width: 100%;
}

.volunteer>p{
    color: var(--repledge-darkerGrey);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.volunteer:hover{
    cursor: pointer;    
    box-shadow: 0 0 9px 10px rgb(0 0 0 / 5%);
    transform: scale(1.02);

}

.host{
    height: 35vw;
    padding: 1rem;
    /* width: 48vw; */
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--repledge-lightGreenBackground);
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}

.host>img{
    margin: 0.5rem;
    height: 65%;
    width: 100%;
}

.host>p{
    color: var(--repledge-darkerGrey);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.host:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 9px 10px rgb(0 0 0 / 5%);

}


@media(min-width:40em){

    .donate_n_volunteer{
        display: flex;
        justify-content: space-around;
    }

    .YourDonation>p{
        font-size: 4rem;
    }

    .donate{
        height: 20vw;
        width: 31vw;
    }

    .donate>p{
        font-size: 2rem;
    }

    .volunteer{
        width: 31vw;
        height: 20vw;
    }

    .volunteer>p{
        font-size: 2rem;
    }

    .host{
        width: 31vw;
        height: 20vw;
    }

    .host>p{
        font-size: 2rem;
    }



    
}