@import url("../../index.css");


.YourDonation{
    height: 25vh;
    margin: 0.9rem;
    display: flex;
    border: 2px solid var(--repledge-lightGreen);
    border-radius: 1rem;
    background-color: var(--repledge-lightGreenBackground);
}

.YourDonation>img{
    margin: 0.5rem;
    height: 90%;
    width: 50vw;
}

.YourDonation>p{
    color: white;
    font-size: 10vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.YourDonation:hover{
    cursor: pointer;
    background-color: var(--repledge-lightGreen);
}

.donate_n_volunteer{
    display: flex;
    justify-content: space-around;
}

.donate{
    height: 35vw;
    width: 48vw;
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--repledge-lightGreen);
    border-radius: 1rem;
    background-color: var(--repledge-lightGreenBackground);
}

.donate>img{
    margin: 0.5rem;
    height: 65%;
    width: 100%;
}

.donate>p{
    color: white;
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.donate:hover{
    cursor: pointer;
    background-color: var(--repledge-lightGreen);

}

.volunteer{
    height: 35vw;
    width: 48vw;
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--repledge-lightGreen);
    border-radius: 1rem;
    background-color: var(--repledge-lightGreenBackground);
}

.volunteer>img{
    margin: 0.5rem;
    height: 65%;
    width: 100%;
}

.volunteer>p{
    color: white;
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    margin-bottom: auto;
}

.volunteer:hover{
    cursor: pointer;
    background-color: var(--repledge-lightGreen);
}


@media(min-width:40em){
    .YourDonation>p{
        font-size: 4rem;
    }

    .donate{
        height: 25vw;
    }

    .donate>p{
        font-size: 4rem;
    }

    .volunteer{
        height: 25vw;
    }

    .volunteer>p{
        font-size: 4rem;
    }
}