:root {
  /* --repledge-white: #fcfcfc;
  --repledge-primaryGreen: #123c49;
  --repledge-darkGreen:#1c626e;
  --repledge-lightGreen:#248893;
  --repledge-lightGreenBackground:#30aeb9; */

  --repledge-primaryRed:#C3023A;
  --repledge-lightRed:#fcc5c5;
  --repledge-darkBlue:#181733;
  --repledge-darkerGrey:#212529;
  --repledge-lightRedBackground:#fff0f0;



}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
