@import url("../../index.css");

.holder{
    height: 8vh;
    background-color: var(--repledge-white);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
}

.logo{
    color: var(--repledge-darkGreen);
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    
}

.userIcon{
    position: absolute;
    right: 1rem;
}
.userIcon>span{
    font-size: 2.5rem;
    color: var(--repledge-lightGreenBackground);
}

.userIcon>span:hover{
    cursor: pointer;
    color: var(--repledge-lightGreen);
}


@media(min-width:40em){

    .holder{
        height: 10vh;
    }
    

}