@import url("../../index.css");

.slider{
    display: flex;
    min-width: 10rem;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid var(--repledge-lightGreen); */
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    justify-content: space-around;
    padding-bottom: 0.5rem;
}

.imageView>img{
    width: 100%;
    
}

.topic{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    color: var(--repledge-darkerGrey);
    font-weight: bolder;
    align-items: center;
    margin-bottom: 0.75rem;
}

.info{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.info>img{
    border-radius: 10rem;
    height: 2rem;
    border: 1px solid var(--repledge-lightGreen);
}

.info>span{
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: medium;
}

.location{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.location>span{
    margin-top: auto;
    margin-bottom: auto;
}

.volunteerButton{
    background-color:  var(--repledge-primaryRed);
    color:white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.75rem 0rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
}

@media(min-width:40em){

    .slider{
        min-width: 23vw;
    }

    .topic{
        font-size: 1.5rem;
    }
}